force-app/main/default/flows/Create_Queue_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>Recent_Text</name>
        <label>Recent Text</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Queue_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Texted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sendblue.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Queue</targetReference>
            </connector>
            <label>Texted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Text_Last_Week</name>
        <label>Text Last Week</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>There_was_a_Text</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recent_Text_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opp_Queue_Records</targetReference>
            </connector>
            <label>There was a Text</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LastWeek</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}-7</expression>
    </formulas>
    <interviewLabel>Create Queue Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Queue Records</label>
    <loops>
        <name>Create_Opp_Queue_Records</name>
        <label>Create Opp Queue Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recent_Text_Record</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Create_Queue</name>
        <label>Create Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Sendblue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Queue_Record</name>
        <label>Create Queue Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>Create_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_To__c</field>
            <value>
                <elementReference>Create_Queue.Hyros_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Text_Day__c</field>
            <value>
                <stringValue>a06V500000JswAbIAJ</stringValue>
            </value>
        </inputAssignments>
        <object>Text_Queue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Records</name>
        <label>Create Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Opp_Queue_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Create_Opp_Queue_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_To__c</field>
            <value>
                <elementReference>Create_Opp_Queue_Records.Hyros_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Text_Day__c</field>
            <value>
                <stringValue>a06V500000JswAbIAJ</stringValue>
            </value>
        </inputAssignments>
        <object>Text_Queue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Leads</name>
        <label>Get Leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastActivityDate</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opps</name>
        <label>Get Opps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opp_Queue_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastActivityDate</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sendblue</name>
        <label>Get Sendblue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recent_Text</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sendblue__Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Queue.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>LastWeek</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sendblue__Conversation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recent_Text_Record</name>
        <label>Recent Text Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Text_Last_Week</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Opp_Queue_Records.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>LastWeek</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sendblue__Conversation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Leads</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-11-13</startDate>
            <startTime>09:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
