force-app/main/default/flows/Create_QB_Estimate_From_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <label>Create QB Estimate from Opportunity</label>
    <processType>Flow</processType>
    <status>Active</status>
    <description>Creates a QuickBooks Estimate from Salesforce Opportunity with multiple line items, discount, and dates</description>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Build_Estimate_Request</targetReference>
        </connector>
    </start>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EstimateRequest</name>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuickBooksEstimateInvocable.EstimateRequest</objectType>
    </variables>
    <variables>
        <name>EstimateRequestList</name>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuickBooksEstimateInvocable.EstimateRequest</objectType>
    </variables>
    <variables>
        <name>EstimateResponse</name>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuickBooksEstimateInvocable.EstimateResponse</objectType>
    </variables>
    <variables>
        <name>DiscountAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>EstimateDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExpirationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <assignments>
        <name>Build_Estimate_Request</name>
        <label>Build Estimate Request</label>
        <locationX>176</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>EstimateRequest.opportunityId</assignToReference>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstimateRequest.companyId</assignToReference>
            <value>
                <stringValue>1234567890</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstimateRequest.estimateDate</assignToReference>
            <value>
                <elementReference>EstimateDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstimateRequest.expirationDate</assignToReference>
            <value>
                <elementReference>ExpirationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstimateRequest.discountAmount</assignToReference>
            <value>
                <elementReference>DiscountAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EstimateRequest.applyTaxAfterDiscount</assignToReference>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Request_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Request_List</name>
        <label>Build Request List</label>
        <locationX>176</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>EstimateRequestList</assignToReference>
            <value>
                <elementReference>EstimateRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Estimate_Action</targetReference>
        </connector>
    </assignments>
    <actionCalls>
        <name>Create_Estimate_Action</name>
        <label>Create QuickBooks Estimate</label>
        <locationX>176</locationX>
        <locationY>500</locationY>
        <actionName>QuickBooksEstimateInvocable.createEstimate</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>requests</name>
            <value>
                <elementReference>EstimateRequestList</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <name>result</name>
            <assignToReference>EstimateResponse</assignToReference>
        </outputParameters>
        <connector>
            <targetReference>Handle_Response</targetReference>
        </connector>
    </actionCalls>
    <decisions>
        <name>Handle_Response</name>
        <label>Handle Response</label>
        <locationX>176</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Failure_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Success_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EstimateResponse.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Screen</targetReference>
            </connector>
            <label>Success Path</label>
        </rules>
    </decisions>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>50</locationX>
        <locationY>700</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>Estimate created successfully!

QB Estimate ID: {!EstimateResponse.quickBooksEstimateId}
QB Estimate #: {!EstimateResponse.quickBooksEstimateNumber}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Failure_Screen</name>
        <label>Failure Screen</label>
        <locationX>300</locationX>
        <locationY>700</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>Error creating estimate: {!EstimateResponse.message}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <interviewLabel>Create QB Estimate from Opportunity</interviewLabel>
    <isTemplate>false</isTemplate>
</Flow>
