force-app/main/default/flows/Opp_Queue_Update_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SendblueContactManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Opp_Queue_Items</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>Get_Contact.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>Get_Contact.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>Loop_Opp_Queue_Items.Send_To__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendblueContactManager</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>First_Name</name>
        <label>First Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_First_Name</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Opp_Queue_Items.Opportunity__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Opp_Queue_Items</targetReference>
            </connector>
            <label>No First Name</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FirstName</name>
        <dataType>String</dataType>
        <expression>  UPPER(LEFT({!Get_Contact.FirstName}, 1)) + 
  LOWER(MID({!Get_Contact.FirstName}, 2, 
  LEN({!Get_Contact.FirstName}) - 1))</expression>
    </formulas>
    <interviewLabel>Opp Queue Update Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp Queue Update Contact</label>
    <loops>
        <name>Loop_Opp_Queue_Items</name>
        <label>Loop Opp Queue Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_25_Opp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Contact</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_25_Opp</name>
        <label>Get 25 Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opp_Queue_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Text_Queue__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>First_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Opp_Queue_Items.Opportunity__r.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_25_Opp</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Message10</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!FirstName} just checking if you are still interested in the chamber? Let me know if you have any questions. Thanks!</text>
    </textTemplates>
    <textTemplates>
        <name>Message17</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hey {!FirstName} I never heard back from you, I hope all is well. Please let me know if you’re still interested in the chamber or if I can be of any further assistance.</text>
    </textTemplates>
    <textTemplates>
        <name>Message30</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!FirstName}  Tom here at Oxycell, I just wanted to let you know about some new offers we have starting this month. Let me know if you&apos;re interested and I’ll send over more details.</text>
    </textTemplates>
    <textTemplates>
        <name>Message5</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!FirstName} this is Tom at Oxycell regarding the hyperbaric chamber. Just making sure you received the quote I sent over? Feel free to contact me directly at this number with any questions.</text>
    </textTemplates>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
