force-app/main/default/flows/Opp_Queue_Send_Auto_Launch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Sendblue_Send_Message_and_Update_Contact_Action_1</name>
        <label>Sendblue - Send Message and Update Contact Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>sendblue__SendblueMessageAndContact</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Sucess</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>Get_Contact.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receipientNumber</name>
            <value>
                <elementReference>Loop_Opp_Queue_Items.Send_To__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendblue__SendblueMessageAndContact</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assign_17</name>
        <label>Assign 17</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message17</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sendblue_Send_Message_and_Update_Contact_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_30</name>
        <label>Assign 30</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message30</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sendblue_Send_Message_and_Update_Contact_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_5</name>
        <label>Assign 5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sendblue_Send_Message_and_Update_Contact_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Message_10</name>
        <label>Message 10</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message10</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sendblue_Send_Message_and_Update_Contact_Action_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>First_Name</name>
        <label>First Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Last_Activity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_First_Name</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Opp_Queue_Items.Opportunity__r.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Opp_Queue_Items</targetReference>
            </connector>
            <label>No First Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_Activity</name>
        <label>Last Activity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Less_Than_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Opp_Queue_Items.Opportunity__r.LastActivityInDays__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_5</targetReference>
            </connector>
            <label>Less Than 5`</label>
        </rules>
        <rules>
            <name>Less_Than_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Opp_Queue_Items.Opportunity__r.LastActivityInDays__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_10</targetReference>
            </connector>
            <label>Less Than 10</label>
        </rules>
        <rules>
            <name>Less_Than_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Opp_Queue_Items.Opportunity__r.LastActivityInDays__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>17.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_17</targetReference>
            </connector>
            <label>Less Than 17</label>
        </rules>
        <rules>
            <name>Less_than_30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Opp_Queue_Items.Opportunity__r.LastActivityInDays__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_30</targetReference>
            </connector>
            <label>Less than 30</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sucess</name>
        <label>Sucess</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Queue_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sendblue_Send_Message_and_Update_Contact_Action_1.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Opp_Queue_Items</targetReference>
            </connector>
            <label>No Success</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FirstName</name>
        <dataType>String</dataType>
        <expression>  UPPER(LEFT({!Get_Contact.FirstName}, 1)) + 
  LOWER(MID({!Get_Contact.FirstName}, 2, 
  LEN({!Get_Contact.FirstName}) - 1))</expression>
    </formulas>
    <interviewLabel>Opp Queue Send Auto Launch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp Queue Send Auto Launch</label>
    <loops>
        <name>Loop_Opp_Queue_Items</name>
        <label>Loop Opp Queue Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_25_Opp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Contact</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_25_Opp</name>
        <label>Get 25 Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opp_Queue_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Text_Queue__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>First_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Opp_Queue_Items.Opportunity__r.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Conversation</name>
        <label>Update Conversation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Opp_Queue_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sendblue_Send_Message_and_Update_Contact_Action_1.conversationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Loop_Opp_Queue_Items.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <object>sendblue__Conversation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Queue_Record</name>
        <label>Update Queue Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Conversation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Opp_Queue_Items.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sendblue_Conversation__c</field>
            <value>
                <elementReference>Sendblue_Send_Message_and_Update_Contact_Action_1.conversationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Text_Queue__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_25_Opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Message10</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!FirstName} just checking if you are still interested in the chamber? Let me know if you have any questions. Thanks!</text>
    </textTemplates>
    <textTemplates>
        <name>Message17</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hey {!FirstName} I never heard back from you, I hope all is well. Please let me know if you’re still interested in the chamber or if I can be of any further assistance.</text>
    </textTemplates>
    <textTemplates>
        <name>Message30</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!FirstName}  Tom here at Oxycell, I just wanted to let you know about some new offers we have starting this month. Let me know if you&apos;re interested and I’ll send over more details.</text>
    </textTemplates>
    <textTemplates>
        <name>Message5</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!FirstName} this is Tom at Oxycell regarding the hyperbaric chamber. Just making sure you received the quote I sent over? Feel free to contact me directly at this number with any questions.</text>
    </textTemplates>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
