force-app/main/default/flows/Opportunity_Queue_Auto_Launch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Queue_Message</name>
        <label>Send Queue Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>sendblue__SendMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Conversation</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Hi {!Loop_Leads.Lead__r.FirstName} this is Aidan at Oxycell responding to your inquiry for the hyperbaric chamber. Please feel free to contact me directly at this number at your earliest convenience.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receipientNumber</name>
            <value>
                <elementReference>Loop_Leads.Send_To__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendblue__SendMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SendblueContactManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Wait_1_Minute</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>Loop_Leads.Lead__r.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>Loop_Leads.Lead__r.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>Loop_Leads.Send_To__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendblueContactManager</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>First_Name</name>
        <label>First Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_First_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Leads.Lead__r.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Leads.Lead__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Leads</targetReference>
            </connector>
            <label>No First Name</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Queue Auto Launch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Queue Auto Launch</label>
    <loops>
        <name>Loop_Leads</name>
        <label>Loop Leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_25_Leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>First_Name</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_25_Leads</name>
        <label>Get 25 Leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Text_Queue__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Conversation</name>
        <label>Update Conversation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Queue_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Send_Queue_Message.conversationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>sendblue__Lead__c</field>
            <value>
                <elementReference>Loop_Leads.Lead__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>sendblue__Conversation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Queue_Record</name>
        <label>Update Queue Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Leads.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sendblue_Conversation__c</field>
            <value>
                <elementReference>Send_Queue_Message.conversationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Text_Queue__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_25_Leads</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <waits>
        <name>Wait_1_Minute</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait 1 Minute</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Send_Queue_Message</targetReference>
            </connector>
            <label>el_0</label>
            <offset>1</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
