force-app/main/default/flows/QuickBooks_Create_Customer_From_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>Creates a QuickBooks customer when a Salesforce Account is created or updated</description>
    <environments>Default</environments>
    <interviewLabel>QuickBooks Create Customer From Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QuickBooks - Create Customer From Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <actionCalls>
        <name>Create_QuickBooks_Customer</name>
        <label>Create QuickBooks Customer</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>QuickBooksCustomerInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Creation_Success</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>companyId</name>
            <value>
                <elementReference>$Setup.QuickBooks_Config__c.Company_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>displayName</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>companyName</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone</name>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <decisions>
        <name>Check_Creation_Success</name>
        <label>Check Creation Success</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Creation Failed</defaultConnectorLabel>
        <rules>
            <name>Creation_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_QuickBooks_Customer.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Success</targetReference>
            </connector>
            <label>Creation Successful</label>
        </rules>
    </decisions>
    <recordUpdates>
        <name>Update_Account_Error</name>
        <label>Update Account - Error</label>
        <locationX>308</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>QuickBooks_Sync_Status__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Success</name>
        <label>Update Account - Success</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>QuickBooks_Sync_Status__c</field>
            <value>
                <stringValue>Synced</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_QuickBooks_Customer</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
