force-app/main/default/flows/QuickBooks_Create_MultiLine_Estimate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>Creates a QuickBooks Estimate with multiple line items from manual input</description>
    <interviewLabel>QuickBooks Multi-Line Estimate Creator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QuickBooks Multi-Line Estimate Creator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithSharing</runInMode>
    <status>Active</status>
    <actionCalls>
        <name>Create_QuickBooks_Estimate</name>
        <label>Create QuickBooks Estimate</label>
        <locationX>50</locationX>
        <locationY>374</locationY>
        <actionName>QuickBooksEstimateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_Success</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>companyId</name>
            <value>
                <elementReference>Company_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerRef</name>
            <value>
                <elementReference>QB_Customer_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerName</name>
            <value>
                <elementReference>Customer_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lineItemsJson</name>
            <value>
                <elementReference>LineItemsJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>discountPercent</name>
            <value>
                <elementReference>Discount_Percent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>applyTaxAfterDiscount</name>
            <value>
                <elementReference>Apply_Tax_After_Discount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerMemo</name>
            <value>
                <elementReference>Customer_Memo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerEmail</name>
            <value>
                <elementReference>Customer_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>billToAddress</name>
            <value>
                <elementReference>Bill_To_Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shipToAddress</name>
            <value>
                <elementReference>Ship_To_Address</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>EstimateResponse</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Build_Line_Items_JSON</name>
        <label>Build Line Items JSON</label>
        <locationX>50</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>LineItemsJSON</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildLineItemsFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_QuickBooks_Estimate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Success</name>
        <label>Estimate Created Successfully?</label>
        <locationX>50</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EstimateResponse.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Screen</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <formulas>
        <name>BuildLineItemsFormula</name>
        <dataType>String</dataType>
        <expression>'[{' +
'"description":"' + {!Line_Item_1_Description} + '",' +
'"quantity":' + TEXT({!Line_Item_1_Quantity}) + ',' +
'"unitPrice":' + TEXT({!Line_Item_1_UnitPrice}) + ',' +
'"amount":' + TEXT({!Line_Item_1_Quantity} * {!Line_Item_1_UnitPrice}) + ',' +
'"itemRef":"' + {!Line_Item_1_ItemRef} + '",' +
'"itemName":"' + {!Line_Item_1_ItemName} + '",' +
'"taxCodeRef":"' + {!Line_Item_1_TaxCode} + '",' +
'"detailType":"SalesItemLineDetail"' +
'}]'</expression>
    </formulas>
    <screens>
        <name>Input_Screen</name>
        <label>QuickBooks Estimate Details</label>
        <locationX>50</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Build_Line_Items_JSON</targetReference>
        </connector>
        <fields>
            <name>Title_Text</name>
            <fieldText>&lt;p&gt;&lt;b style="font-size: 16px;"&gt;Create QuickBooks Estimate&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Enter the details for your QuickBooks estimate with multiple line items.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Section</name>
            <fieldText>&lt;p&gt;&lt;b style="font-size: 14px;"&gt;Customer Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Company_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>123456789</stringValue>
            </defaultValue>
            <fieldText>QuickBooks Company ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>QB_Customer_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>3</stringValue>
            </defaultValue>
            <fieldText>QuickBooks Customer ID</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Enter the QuickBooks Customer ID (e.g., "3" for Cool Cars)</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Cool Cars</stringValue>
            </defaultValue>
            <fieldText>Customer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Customer_Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Cool_Cars@intuit.com</stringValue>
            </defaultValue>
            <fieldText>Customer Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Line_Items_Section</name>
            <fieldText>&lt;p&gt;&lt;b style="font-size: 14px;"&gt;Line Items&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Line_Item_1_Description</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Pest Control Services</stringValue>
            </defaultValue>
            <fieldText>Line Item 1 - Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Line_Item_1_Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1</numberValue>
            </defaultValue>
            <fieldText>Line Item 1 - Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Line_Item_1_UnitPrice</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>35</numberValue>
            </defaultValue>
            <fieldText>Line Item 1 - Unit Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Line_Item_1_ItemRef</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>10</stringValue>
            </defaultValue>
            <fieldText>Line Item 1 - QuickBooks Item ID</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Enter the QuickBooks Item ID (e.g., "10" for Pest Control)</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Line_Item_1_ItemName</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Pest Control</stringValue>
            </defaultValue>
            <fieldText>Line Item 1 - Item Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Line_Item_1_TaxCode</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>NON</stringValue>
            </defaultValue>
            <fieldText>Line Item 1 - Tax Code</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Enter tax code (e.g., "NON" for non-taxable)</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Discount_Section</name>
            <fieldText>&lt;p&gt;&lt;b style="font-size: 14px;"&gt;Discount Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Discount_Percent</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>10</numberValue>
            </defaultValue>
            <fieldText>Discount Percentage</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Enter discount as percentage (e.g., 10 for 10%)</helpText>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Apply_Tax_After_Discount</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Apply Tax After Discount?</fieldText>
            <fieldType>InputField</fieldType>
        </fields>
        <fields>
            <name>Memo_Section</name>
            <fieldText>&lt;p&gt;&lt;b style="font-size: 14px;"&gt;Additional Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Memo</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Thank you for your business and have a great day!</stringValue>
            </defaultValue>
            <fieldText>Customer Memo</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Section</name>
            <fieldText>&lt;p&gt;&lt;b style="font-size: 14px;"&gt;Address Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Bill_To_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>65 Ocean Dr., Half Moon Bay, CA, 94213</stringValue>
            </defaultValue>
            <fieldText>Billing Address</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Format: Street, City, State, Postal Code</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ship_To_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>65 Ocean Dr., Half Moon Bay, CA, 94213</stringValue>
            </defaultValue>
            <fieldText>Shipping Address</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Format: Street, City, State, Postal Code</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success</label>
        <locationX>50</locationX>
        <locationY>614</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;b style="color: rgb(46, 125, 50); font-size: 18px;"&gt;Estimate Created Successfully!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your QuickBooks estimate has been created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Estimate Number:&lt;/b&gt; {!EstimateResponse.quickBooksEstimateNumber}&lt;/p&gt;&lt;p&gt;&lt;b&gt;QuickBooks ID:&lt;/b&gt; {!EstimateResponse.quickBooksEstimateId}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!EstimateResponse.message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;b style="color: rgb(198, 40, 40); font-size: 18px;"&gt;Error Creating Estimate&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;There was an error creating your QuickBooks estimate:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="color: rgb(198, 40, 40);"&gt;{!EstimateResponse.message}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please check the error message and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input_Screen</targetReference>
        </connector>
    </start>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EstimateResponse</name>
        <apexClass>QuickBooksEstimateResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LineItemsJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
