force-app/main/default/flows/Quote_Stage_Sequence.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Quote Stage Sequence {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Stage Sequence</label>
    <loops>
        <name>Message_Loop</name>
        <label>Message Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Message_Auto_Flow_1</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Message_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastActivityInDays__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-08-28</startDate>
            <startTime>11:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Message_Auto_Flow_1</name>
        <label>Send Message Auto Flow 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Message_Loop</targetReference>
        </connector>
        <flowName>Send_Message_Auto</flowName>
        <inputAssignments>
            <name>Message</name>
            <value>
                <elementReference>TextTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PhoneNumber</name>
            <value>
                <elementReference>Message_Loop.Phone</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>TextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!Message_Loop.FirstName} this is {!$Record.Owner.FirstName} at Oxycell regarding the hyperbaric chamber. Just making sure you received the quote I sent over? Feel free to contact me directly at this number with any questions.</text>
    </textTemplates>
</Flow>
