force-app/main/default/flows/Send_Lead_Message_Platform.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Message</name>
        <label>Send Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>sendblue__SendMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Record.Message__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receipientNumber</name>
            <value>
                <elementReference>$Record.Number__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendblue__SendMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Send Lead Message Platform {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Lead Message Platform</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Queue_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Send_Message.conversationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>sendblue__Lead__c</field>
            <value>
                <elementReference>$Record.RecordId__c</elementReference>
            </value>
        </inputAssignments>
        <object>sendblue__Conversation__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Queue_Record</name>
        <label>Update Queue Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Text_Queue__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sendblue_Conversation__c</field>
            <value>
                <elementReference>Send_Message.conversationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Text_Queue__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Message</targetReference>
        </connector>
        <object>Send_Message__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
