force-app/main/default/flows/Sendblue_Bulk_Message_Working.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Messages_In_Bulk</name>
        <label>Send Messages In Bulk</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>sendblue__SendMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>receipientNumber</name>
            <value>
                <elementReference>TestPhone1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>MessageContent</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendblue__SendMessage</nameSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <description>Demonstrates how to send multiple messages in a single bulk operation to avoid &quot;uncommitted work pending&quot; errors. This version works without complex Apex class variables.</description>
    <environments>Default</environments>
    <interviewLabel>Sendblue Bulk Message Working {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sendblue Bulk Message Working</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Error_Screen</name>
        <label>Error Occurred</label>
        <locationX>440</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52); font-size: 18px;&quot;&gt;&lt;b&gt;Error Sending Messages&lt;/b&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;An error occurred while sending the messages:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This error often occurs when trying to make multiple API callouts in a loop. The solution is to collect all messages first, then send them in a single bulk operation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Introduction_Screen</name>
        <label>Bulk Message Sending Demo</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Message_Setup_Screen</targetReference>
        </connector>
        <fields>
            <name>IntroText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Sendblue Bulk Message Demo&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This flow demonstrates the &lt;b&gt;correct way&lt;/b&gt; to send messages through the Sendblue API.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(27, 95, 51);&quot;&gt;✓ Best Practice:&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Collect all message data&lt;/li&gt;&lt;li&gt;Send them in ONE invocable action call&lt;/li&gt;&lt;li&gt;Avoids &quot;uncommitted work pending&quot; errors&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(194, 57, 52);&quot;&gt;✗ Common Mistake:&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Using a Loop element to iterate over records&lt;/li&gt;&lt;li&gt;Calling SendMessage action inside the loop&lt;/li&gt;&lt;li&gt;Results in callout/DML conflicts&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Next to continue...&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_Setup_Screen</name>
        <label>Configure Test Message</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Review_Screen</targetReference>
        </connector>
        <fields>
            <name>SetupInstructions</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Test Configuration&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;For this demo, we&apos;ll send a single message. In a real implementation, you would:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Query records (Leads, Contacts, etc.)&lt;/li&gt;&lt;li&gt;Build the message collection from those records&lt;/li&gt;&lt;li&gt;Send all messages in one action&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Enter test phone number below (use test numbers from your Sendblue dashboard):&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TestPhone1</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>+14155551001</stringValue>
            </defaultValue>
            <fieldText>Test Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter test phone number in E.164 format (+1XXXXXXXXXX)&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MessageContent</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Hello! This is a bulk message test from Salesforce Flow.</stringValue>
            </defaultValue>
            <fieldText>Message Content</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter the message text to send&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Screen</name>
        <label>Review Before Sending</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Messages_In_Bulk</targetReference>
        </connector>
        <fields>
            <name>ReviewText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Ready to Send Message&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The following will happen when you click Next:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;The SendMessage invocable action will be called &lt;b&gt;ONCE&lt;/b&gt;&lt;/li&gt;&lt;li&gt;The action will process the message&lt;/li&gt;&lt;li&gt;No &quot;uncommitted work pending&quot; errors will occur&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Recipient:&lt;/b&gt; {!TestPhone1}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Message:&lt;/b&gt; {!MessageContent}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(243, 242, 240);&quot;&gt;Note: In production, the API credentials must be configured in Custom Metadata.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Message Sent Successfully</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(27, 95, 51); font-size: 18px;&quot;&gt;&lt;b&gt;Success!&lt;/b&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The message was sent successfully.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;What happened:&lt;/b&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;The Flow called SendMessage action ONCE&lt;/li&gt;&lt;li&gt;The Apex class processed the message&lt;/li&gt;&lt;li&gt;No callout/DML conflicts occurred&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Key Takeaway:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;When working with invocable actions that make callouts, always bulkify by passing collections instead of looping. The SendMessage action accepts a List of inputs, so you can pass multiple messages at once instead of calling it multiple times in a loop.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Introduction_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
