force-app/main/default/flows/Text_Queue_Batch_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Contact</name>
        <label>Send Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SendblueContactManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Wait</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>assignedToEmail</name>
            <value>
                <elementReference>$Record.Lead__r.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>$Record.Lead__r.FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>$Record.Lead__r.LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>$Record.Lead__r.Phone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendblueContactManager</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Sendblue_Send_Message_Action_1</name>
        <label>Sendblue - Send Message Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>sendblue__SendMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Conversation_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>Temp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receipientNumber</name>
            <value>
                <elementReference>$Record.Lead__r.Phone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendblue__SendMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hi {!$Record.Lead__r.FirstName} this is Aidan at Oxycell responding to your inquiry for the hyperbaric chamber. Please feel free to contact me directly at this number at your earliest convenience.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Text_Day</name>
        <label>Text Day</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Text_Day__r.Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__r.Lead_Source_Drilldown_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gravity Forms</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign</targetReference>
            </connector>
            <label>Today</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Text Queue Batch Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Text Queue Batch Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Queue</name>
        <label>Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Sendblue_Conversation__c</field>
            <value>
                <elementReference>Sendblue_Send_Message_Action_1.conversationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Conversation_Record</name>
        <label>Update Conversation Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sendblue_Send_Message_Action_1.conversationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>sendblue__Lead__c</field>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <object>sendblue__Conversation__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Text_Day</targetReference>
        </connector>
        <object>Text_Queue__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-09-09</startDate>
            <startTime>11:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Temp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Sendblue_Send_Message_Action_1</targetReference>
            </connector>
            <label>el_0</label>
            <offset>1</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
